$primary_color: #C0345E;
$secondary_color: #EDEFF1;
$grey_blue: #9EA9B1;
$grey: #A7B1B8;
$heading_color_one: #19293A;
$text_color: #506473;
$white: #FFFFFF;

$greyTwo:#50647380;

$heading_font: 'Raleway', sans-serif;
$primary_font: 'Open Sans', sans-serif;

